html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: block;
    margin: auto;
    max-width: 70%;
}

.contenido{
    background-color: rgb(230, 230, 230);
    padding: 10%;
}

.bold{
    font-weight: bold;
}

.titulo{
    display: flex;
    justify-content: center;
}

.fotoperfil{
    display: block;
    margin: auto;
    max-width: 30vw;
}

.resumen{
    margin-left: 3%;
    
}